td {
  border:1px solid #ccc;
  border-color: rgb(238, 238, 238) rgb(153, 153, 153) rgb(153, 153, 153) rgb(238, 238, 238);
  padding:7px 10px;
  width:15px;
  text-align:center;
  cursor:pointer;
  font:bold 16px arial;
  background-color: #E4E4E4;
}

td.mark {
  color: red;
  background-color: rgb(204, 204, 204);
  border-color: rgb(187, 187, 187);
}

td.one {
  color: blue;
  background-color: rgb(204, 204, 204);
  border-color: rgb(187, 187, 187);
}

td.two {
  color: green;
  border-color: rgb(187, 187, 187);
  background-color: rgb(204, 204, 204);
}

td.three {
  color: red;
  border-color: rgb(187, 187, 187);
  background-color: rgb(204, 204, 204);
}

td.four {
  color: purple;
  border-color: rgb(187, 187, 187);
  background-color: rgb(204, 204, 204);
}

td.five {
  color: orange;
  border-color: rgb(187, 187, 187);
  background-color: rgb(204, 204, 204);
}

td.bomb {
  color: yellow;
}

.lost td.bomb{
  color: red;
  background-color: black;
    padding:7px 10px;
  width:15px;
}

.smiley-container{
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
}

.board {
  margin-top: 50px;
}

.container {
  position: relative;
  float: left;
  text-align: center;
  width: 315px;
  margin: 0 auto;
}

.body-container {
  display: block;
  margin: 0 auto;
  width: 315px;
}
